@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center; /*возможно глючил - есть задержка сервера виртуального - тут пока четко  */
  align-items: center;
}
.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}
.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer; /* курсор пальчик*/
    color: #fff;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* тут была пропущена строка*/
    transition: all 500ms ease-in-out; /* переход слайдов из одного в другой*/
}
.slide h3{      /* тут почему-то названия упали вниз и в кучу??*/
    position: absolute;
    font-size: 24px;
    bottom: 20px; /* тут вручную поднял и сдвинул надпись line 36, 37*/
    left: 20px;
    margin: 0;
    opacity: 0; /* тут прячут названия карточек */ 
}
/* начало работы с анимацией: выбор 1 активного элемента 34 строка html для Aston*/
.slide.active{
    flex: 10; /* тут увеличение размера слайда*/
}
.slide.active h3{       /* если слайд активный то применяем некоторае стили */
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; /* задаем анимацию: свойство, длительность ее кинематику*/
}
